// Color
$dark: #141618;
$light: #fff;
$dark-text: #303133;
$light-text: #777;
$gold: #b4975a;
$gray: #eaeaea;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: $dark-text;
}

img {
    vertical-align: top;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $dark-text;
    transition: .3s ease;
    font-weight: 600;

    &:hover {
        opacity: 50%;
    }
}

.title {
    h2 {
        font-size: 50px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 18px;
        letter-spacing: -0.2px;
        font-family: 'Dancing Script', cursive;
        font-style: italic;
    }

    p {
        font-size: 20px;
        color: $light-text;
    }
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}