// Media Queries
@media (max-width: 992px) {
    header {
        .menu-header {
            .toggle {
                background-image: url('/assets/images/menu.png');
                filter: invert(1);
                width: 25px;
                height: 25px;
                background-size: 25px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                display: block;

                &.active {
                    background-image: url('/assets/images/close.png');
                    background-size: 25px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            nav {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: none;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: #fff;
                width: 100%;
                min-height: 100vh;

                &.active {
                    display: flex;
                }

                a {
                    font-size: 20px;
                    margin: 10px 0;
                }
            }

            .social-media {
                display: none;
            }
        }
    }

    .main {

        // Cover
        .cover {
            .col {
                width: 100%;

                .photo {
                    display: none;
                }

                .text {
                    width: 100%;
                    padding-left: 26px;
                    padding-right: 26px;

                    h2 {
                        text-align: center;
                    }

                    p {
                        text-align: justify;
                    }

                    &:last-child {
                        order: -1;
                    }
                }
            }
        }

        // About
        .about {
            .container {
                .col {
                    &.left {
                        width: 100%;
                        border-right: none;
                        border-bottom: 1px solid $gray;
                        text-align: center;
                        display: block;
                        padding: 0;
                        margin-bottom: 36px;
                    }

                    &.right {
                        width: 100%;
                        padding-left: 0;
                        text-align: justify;
                    }
                }
            }
        }

        // Contacto
        .contacto {
            .datos {
                .container {
                    .blurb {
                        width: 100%;
                        max-width: 650px;
                        margin: 0 auto;
                        margin-bottom: 36px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        // Chef
        .chef {
            .container {
                .col {
                    width: 100%;

                    .title {
                        padding-left: 0;
                        padding-bottom: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .main {

        // About
        .about {
            .container {
                .col {
                    &.left {
                        .text {
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        // Chef 
        .chef {
            .container {
                .col {
                    .title {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        // Menu
        .menu {
            .container {
                .our-menu {
                    .content {
                        .item {
                            .col {
                                &.left {
                                    width: 100%;
                                    text-align: center;
                                    margin-bottom: 10px;
                                }

                                &.right {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Contacto
        .contacto {
            .form {
                .form-contacto {
                    input[type="submit"] {
                        width: 100%;
                    }
                }
            }
        }
    }

    // All Titles
    .title {
        h2 {
            font-size: 32px;
        }
    }
}