// Header
header {
    .menu-header {
        position: fixed;
        width: 100%;
        min-height: 94px;
        top: 0;
        left: 0;
        padding: 0 36px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $gray;
        background-color: $light;
        z-index: 100;

        .brand {
            max-width: 50px;
        }

        nav {
            a {
                padding: 0 9px;
            }
        }

        .social-media {
            a {
                padding: 0 9px;
            }
        }

        .toggle {
            display: none;
        }
    }
}

// Main
.main {
    margin-top: 94px;

    // Cover
    .cover {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .col {
            width: 50%;
            color: $light;
            background-color: $dark;
            display: flex;
            flex-wrap: wrap;

            .photo {
                background-size: cover;
                background-position: center;
                width: 50%;

                &.left {
                    background-image: url('/assets/images/portada-1.jpg');
                    background-position: left;
                }

                &.right {
                    background-image: url('/assets/images/portada-4.jpg');
                    opacity: 0.8;
                }

                .overlay {
                    position: relative;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(48, 49, 51, 0.4);
                    cursor: pointer;
                    transition: .3s ease;

                    &:hover {
                        opacity: 1;
                    }

                    i {
                        font-size: 25px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .text {
                width: 50%;
                padding: 54px;

                h2 {
                    font-size: 29px;
                    font-weight: 400;
                    line-height: 43px;
                    margin-bottom: 20px;
                    font-family: 'Dancing Script', cursive;
                }

                p {
                    font-size: 15px;
                    line-height: 28px;
                }
            }

            .photo-full {
                width: 100%;
                min-height: 244px;
                background-size: cover;
                background-position: center;

                &.left {
                    background-image: url('/assets/images/portada-2.jpg');
                    opacity: 0.8;
                }

                &.right {
                    background-image: url('/assets/images/portada-3.jpg');
                }

                .overlay {
                    position: relative;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(48, 49, 51, 0.4);
                    cursor: pointer;
                    transform: .3s ease;

                    &:hover {
                        opacity: 1;
                    }

                    i {
                        font-size: 25px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }

    // About
    .about {
        padding: 90px 0;

        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .col {

                &.left {
                    width: 30%;
                    border-right: 1px solid $gray;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-right: 5%;
                }

                &.right {
                    width: calc(100% - 30%);
                    padding-left: 5%;

                    .text {
                        p {
                            color: $gray;
                            font-size: 18px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }

    // Chef
    .chef {
        padding: 90px 0;
        background-color: $dark;

        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            .col {
                width: 50%;

                &.left {
                    box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
                    overflow: hidden;
                }

                .title {
                    padding: 50px;
                    padding-right: 0;

                    h2 {
                        color: $light;
                    }

                    p {
                        color: $light;
                        opacity: 0.7;
                        padding-bottom: 18px;
                        font-size: 18px;
                        line-height: 28px;

                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }

                .slider {
                    width: 300%;
                    display: flex;

                    .slide {
                        width: 100%;
                        min-height: 400px;
                        background-size: cover;
                        background-position: center;

                        &.photoFirst {
                            background-image: url('/assets/images/chef-1.jpg');
                        }

                        &.photoSecond {
                            background-image: url('/assets/images/chef-2.jpg');
                        }

                        &.photoThird {
                            background-image: url('/assets/images/chef-3.jpg');
                        }
                    }
                }
            }
        }
    }

    // Menu
    .menu {
        padding: 90px 0;

        .container {
            .title {
                h2 {
                    text-align: center;
                }
            }

            .our-menu {
                margin-top: 40px;

                .header {
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    list-style: none;
                    display: flex;
                    justify-content: center;

                    li {
                        a {
                            font-size: 12px;
                            padding: 0 23px 28px 23px;
                            display: block;
                            cursor: pointer;
                            transition: .3s ease;
                            border-bottom: 2px solid transparent;

                            &:hover {
                                color: $gold;
                            }
                        }

                        &.active {
                            a {
                                color: $gold;
                                border-bottom: 2px solid $gold;
                            }
                        }
                    }
                }

                .content {
                    max-width: 800px;
                    margin: 0 auto;
                    margin-top: 40px;
                    border: 6px double $gray;
                    padding: 0 36px;

                    >div {
                        display: none;
                        transition: .3s ease;
                    }

                    .active {
                        display: block;
                    }

                    .item {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 26px 0;
                        border-bottom: 1px solid $gray;

                        .col {
                            &.left {
                                width: 70%;

                                h3 {
                                    font-size: 24px;
                                    font-weight: 400;
                                    margin-bottom: 10px;
                                }

                                p {
                                    font-size: 16px;
                                    color: $light-text;
                                }
                            }

                            &.right {
                                width: 30%;
                                text-align: center;
                                font-size: 35px;
                            }
                        }
                    }
                }
            }
        }
    }

    // Contacto
    .contacto {
        .datos {
            position: relative;
            padding: 90px 0 190px 0;
            background-image: url('/assets/images/contacto-bg.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(20, 22, 24, 0.3);
                z-index: 1;
            }

            .container {
                position: relative;
                z-index: 10;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .blurb {
                    background-color: $light;
                    border: 6px double $gray;
                    padding: 36px;
                    text-align: center;
                    width: 25%;

                    h3 {
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 43px;
                        margin-bottom: 18px;
                        border-bottom: 1px solid $light;
                    }

                    p {
                        font-size: 16px;
                        color: $light-text;
                    }
                }
            }
        }

        .form {
            position: relative;
            z-index: 10;
            background-color: $light;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
            max-width: 650px;
            margin: 0 auto;
            padding: 36px;
            margin-top: -100px;
            width: 90%;

            .form-contacto {
                .input-group {
                    position: relative;
                    margin-bottom: 32px;

                    input[type="text"],
                    input[type="email"],
                    textarea {
                        font-family: 'Nunito', sans-serif;
                        font-size: 16px;
                        color: $dark-text;
                        width: 100%;
                        outline: none;
                        padding: 15px 0;
                        background-color: none;
                        border: none;
                        border-bottom: 2px solid rgba(180, 151, 90, 0.5);
                        vertical-align: top;
                        transition: .3s ease;

                        &:focus {
                            border-bottom-color: $gold;
                        }
                    }

                    textarea {
                        resize: none;
                        max-width: 100%;
                        min-height: 82px;
                        max-height: 164px;
                    }

                    label {
                        color: $light-text;

                        &.label {
                            position: absolute;
                            top: 16px;
                            left: 0;
                            font-size: 16px;
                            line-height: 16px;
                            margin-left: 16px;
                            transition: .3s ease;

                            &.active {
                                top: -12px;
                                margin-left: 0;
                                font-size: 12px;
                                line-height: 12px;
                                color: $light-text;
                            }
                        }
                    }

                    .error {
                        position: absolute;
                        color: #ff3b3b;
                        font-size: 14px;
                    }
                }

                input[type="submit"] {
                    font-family: 'Nunito', sans-serif;
                    color: $light;
                    background-color: $gold;
                    border-radius: 1px;
                    border: 2px solid $light;
                    cursor: pointer;
                    display: block;
                    margin: 0 auto;
                    margin-top: 50px;
                    padding: 15px;
                    width: 20%;
                    outline: none;
                    transition: .3s ease;

                    &:hover {
                        background: darken($gold, 10%);
                    }
                }
            }
        }
    }
}

// Imagen Modal
.imagen-modal {
    width: 90%;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;

    +i {
        position: absolute;
        top: 2%;
        right: 1%;
        font-size: 36px;
        color: $dark;
        background-color: $light;
        display: inline-block;
        padding: 12px 14px;
        cursor: pointer;
    }
}

// Footer
footer {
    margin-top: 36px;
    color: $light;
    background-color: $dark;
    padding: 90px 0;
    text-align: center;

    .social-media-f {
        margin-top: 36px;

        a {
            padding: 0 9px;
            color: $light;
            transition: .3s ease;

            &:hover {
                color: $gold;
            }
        }
    }
}